body {
  font-family: Roboto;
  font-size: 18px;
}

.header, .hero, .footer {
  display: flex;
  flex: auto;
  padding: 48px 72px;
  background-color: #1f2937;
  color: #f9faf8;
}

.header, .hero {
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

a, .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
  padding: 12px;
}

.hero {
  align-items: center;
  gap: 24px;
}

.text {
  width: 660px;
}

.awesome, .subtext {
  padding: 3px 0;
}

.awesome {
  font-size: 48px;
  font-weight: 900;
}

.header-img {
  width: 540px;
  height: auto;
  align-items: center;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 24px;
  border: 3px solid #3882f6;
  border-radius: 12px;
  margin: 12px 0;
}

.info {
  margin: 36px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 24px;
}

.boxes, .secondary {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  padding: 24px 48px;
  text-align: center;
}

.box {
  width: 250px;
  height: 250px;
  border: 4px solid #3882f6;
  border-radius: 24px;
}

.box-subtext {
  width: 250px;
}

.box-subtext-link {
  color: #000;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 84px 240px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.quote-person {
  padding-top: 24px;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
  width: 640px;
  margin: 48px auto;
  padding: 24px 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.call-header {
  font-size: 24px;
  font-weight: 700;
}

.signup {
  border-color: #f9faf8;
}

.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attribution {
  padding: 0;
}
